<br/><br/><br/><br/><br/>
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4"><%= @restaurant.name %>
    <small>Restaurant info</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
      <button type="button" class="btn btn-danger"><%= link_to "Back to main!", restaurants_path%></button>
      <h3 class="my-3">Restaurant Info</h3>
      <h4><strong>Name:</strong> <br/><%= @restaurant.name %></h4>
      <p><strong>Address:</strong><br/> <%= @restaurant.address %></p>
      <p><strong>Style: </strong><br/><%= @restaurant.style %></p>
      <button type="button" class="btn btn-primary btn-lg btn-block">Menu</button>
       <hr/>
      <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Follow
      </a>   
      <hr/>
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 300px">
        <iframe src="https://maps.google.com/maps?q={<%=@restaurant.address%>}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
     
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Restaurants Row -->
  <h3 class="my-4">Related Restaurants</h3>

  <div class="row">
     <% @restaurants.each do |restaurant| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            <a><%= link_to restaurant.name, restaurant %></a>
          </a>
    </div>
    <% end %>

  </div>
  <!-- /.row -->

</div>